html, body, #map{
	height: 100%;
	width: 100%;
    padding: 0; 
    margin: 0;
}
.spinner {
    background: #fff url(../images/spinner.gif) 50% 50% no-repeat;
}
#buttons {
    position: fixed;
    top: 12px;
    left: 50px;
    z-index: 9999;
}
@media handheld {
    #buttons { font-size: 5em; }
}
