html, body, #map{
	height: 100%;
	width: 100%;
    padding: 0; 
    margin: 0;
}
.spinner {
    background: #fff url(../images/spinner.gif) 50% 50% no-repeat;
}
#buttons {
    position: fixed;
    top: 18px;
    left: 60px;
    z-index: 9999;
}
